<h1><%= @blog.title %></h1>

<h3>This blog has <%= @posts.size %> posts in it</h3>

<% @posts.each do |post| %>
  <div class="post">
    <hr/>
    <h4><%= post.title %></h4>
    <p>
      <%= post.body %>
    </p>
    <hr/>
  </div>
<% end %>

<hr/>

<div class="actions">
  <%= link_to "Add a Post", [:new, @blog, :post] %>
</div>
